<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="../../static/css/select.css" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="../../static/js/jquery.js"></script>

    <script type="text/javascript" src="../../static/js/jquery.idTabs.min.js"></script>
    <script type="text/javascript" src="../../static/js/select-ui.min.js"></script>
    <script type="text/javascript" src="../../static/editor/kindeditor.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $(".select1").uedSelect({
                width: 200
            });

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".click").click(function () {
                $(".tip").fadeIn(200);
            });

            $(".tiptop a").click(function () {
                $(".tip").fadeOut(200);
            });

            $(".sure").click(function () {
                $(".tip").fadeOut(100);
            });

            $(".cancel").click(function () {
                $(".tip").fadeOut(100);
            });

        });
    </script>
</head>

<body>

<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">考勤管理</a></li>
        <li><a href="#">我的考勤</a></li>
    </ul>
</div>

<div class="rightinfo">


    <div class="formtitle1"><span>我的考勤</span></div>

    <table class="tablelist">
        <thead>
        <tr>
            <th>
                <input name="" type="checkbox" value="" checked="checked"/>
            </th>
            <th>出勤日期</th>
            <th>签到时间</th>
            <th>签退时间</th>
            <th>签到城市</th>
            <th>签退城市</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="duty:${dutyList }">
                <td>
                    <input name="" type="checkbox" value=""/>
                </td>
                <td th:text="${duty.dtdate }">${duty.dtdate }</td>
                <td th:text="${duty.signintime }">${duty.signintime }</td>
                <td th:text="${duty.signouttime }">${duty.signouttime }</td>
                <td th:text="${duty.incity }">${duty.incity }</td>
                <td th:text="${duty.outcity }">${duty.outcity }</td>
            </tr>
        </tbody>
    </table>

    <div class="pagin">
        <div class="message">共<i class="blue" th:text="${pageUtil.rowcount }">1256</i>条记录，当前显示第&nbsp;<i class="blue" th:text="${pageUtil.currnav }">2&nbsp;</i>页</div>
        <ul class="paginList">
            <li class="paginItem"><a th:href="@{/DutyController/findById(currnav=${pageUtil.prev })}"><span class="pagepre"></span></a></li>
            <li th:each="i: ${#numbers.sequence(pageUtil.begin,pageUtil.end)}" class="paginItem"><a th:text="${i}" th:href="@{/DutyController/findById(currnav=${i })}">1</a></li>
            <li class="paginItem"><a th:href="@{/DutyController/findById(currnav=${pageUtil.next })}"><span class="pagenxt"></span></a></li>
        </ul>
    </div>

    <div class="tip">
        <div class="tiptop"><span>提示信息</span>
            <a></a>
        </div>

        <div class="tipinfo">
            <span><img src="../../static/images/ticon.png"/></span>
            <div class="tipright">
                <p>是否确认对信息的修改 ？</p>
                <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
            </div>
        </div>

        <div class="tipbtn">
            <input name="" type="button" class="sure" value="确定"/>&nbsp;
            <input name="" type="button" class="cancel" value="取消"/>
        </div>

    </div>

</div>

<script type="text/javascript">
    $('.tablelist tbody tr:odd').addClass('odd');
</script>

</body>

</html>
